{% extends 'base.html'%}

{% block content %}
<div class="container">
<div class="row">
<!-- displaying  Username-->
  <div class="col-md-4">
    <h3> {{user.username| capitalize}} </h3>
    {% if user.avatar %}
    <img src="{{url_for('static',filename=user.avatar)}}" alt="" class="img-thumbnail">
    {%else%}
    <p>No profile picture</p>
    {% endif %}
    {% if user == current_user %}
    <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">

      <input type="file"  name="photo" class="form-control" required>
      <input type="submit">
    </form>
      <a href="{{url_for('main.new_blog')}}">New Post</a>
      {% endif %}

  </div>



  <!--Display posts by profile-->
  <div class="col-md-4">


      <ul>
            {% for post in posts %}
          <li>
              <div class="card">
                  <div class="card-title">
                      <strong>{{post.title}}</strong>
                  </div>
                  <div class="card-body">
                      {{post.post|safe}}
                  </div>
              </div>
          </li>
            {% endfor %}
      </ul>
  </div>
</div>
</div>




{% endblock %}